---
development:
  dialect: "sqlite3"
  database: {{.Root}}_{{.Name}}_development.sqlite

test:
  dialect: "sqlite3"
  database: {{.Root}}_{{.Name}}_test.sqlite

production:
  dialect: "sqlite3"
  database: {{.Root}}_{{.Name}}_production.sqlite